<spacer size="5"></spacer>
<container class="footer">
<columns class="float-center">
<spacer size="32"></spacer>
<img class="text-center" src="https://gallery.mailchimp.com/0d8c6654c6ad1fe275a334234/images/badc0184-fdac-4baa-82c5-ebeb7f3b21d2.png" alt="footer logo">
<spacer size="32"></spacer>
<p class="text-center">Copyright &copy; 2018 Majordomo</p>
<p class="text-center">5060 Philomath Blvd. #169, Corvallis, OR 97733 | <a href="mailto:hello@majordomo.com">mailto:hello@majordomo.com</a></p>
<p class="text-center">You've received this email because you have an account with Majordomo. <a href="#">View your Majordomo profile settings</a></p>

<spacer size="32"></spacer>
</columns>